<h1>詳細ページ</h1>

<h3 class="blog-box-heading">
  
<h3 class="blog-box-heading"> 
<%= @blog.title %>
</p>

<div class="blog-box-content">
<%= @blog.category %>
</p>

<p class="blog-date">
<%= @blog.created_at %>
</p>

<p class="single-text">
<%= @blog.body %>
</p>
<%= link_to "編集", edit_blog_path(@blog) %>
<%= link_to "削除", blog_path(@blog), method: :delete %>
